html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  color: blue;
}

header .row{
  display: flex;
  align-items: center;
}

.page-description {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  text-align: start;
  padding: 35px;
}

.col-sm-3 {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

header h1 {
  text-align: start;
  color: blue;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;

}

.col{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  margin: 10px;
}

.container{
  align-items: center;
}
h3 {
  font-size: 15px;
  font-weight: 600;
}
.jumbotron h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.lists {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  color: blue;


}

.row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
